API_ORIGIN=
API_PORT=

SHARED_KV_URL=

SHARED_DATABASE_URL=

SHARED_PROVIDER_OPENROUTER_SECRET=

SHARED_PROVIDER_SENDBLUE_PUBLIC=
SHARED_PROVIDER_SENDBLUE_SECRET=
SHARED_PROVIDER_SENDBLUE_SIGNING=
SHARED_PROVIDER_SENDBLUE_NUMBER=

SHARED_PROVIDER_NGROK_URL=
SHARED_PROVIDER_NGROK_SECRET=